DB_HOST=localhost
DB_USER=nj_server
DB_PASSWORD=NJ_Dev_2026_!
DB_NAME=netjam_support
JWT_SECRET=NetJAM_Secret_Key_2026_!
PORT=3000
TELEGRAM_BOT_TOKEN=8289776301:AAEP8D6Bwm4DwleNWSzFylrwHLU0zgwh_Wk
TELEGRAM_CHAT_ID=-1003566495936
